html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Estilos para los errores*/
.validation-summary-errors {
  margin: 10px 0 10px 0;
  background-color: #ffdead;
  padding: 5px;
  color: red;
  border-radius: 10px;
  border: 2px solid #333;
}

.field-validation-error {
  color: red;
}

.field-validation-error:before {
  content: '!';
  display: inline-block;
  height: 16px; 
  width: 16px;
  line-height: 16px;
  vertical-align: baseline;
  border-radius: 8px;
  background-color: red;
  text-align: center;
  font-weight: bold;
  margin-right: 3px;
  margin-left: 8px;
  color: white;
}