<h1>Hello!</h1>
<h3>New line added with app running in normal mode (dotnet run) and saving without restarting</h3>
<p>@DateTime.Now</p>
<p>@ViewData["Message"]</p>
<p>This is @ViewData["Name"] testing site</p>
